<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathis Alarçon • Développeur</title>

    <%- include('helpers/header') %>
</head>
<body id="accueil" class="bg-primary-bg font-nunito z-10">
    <div id="tsparticles"></div>
    <%- include('components/navbar') %>
    <%- include('components/welcome') %>
    <%- include('components/about-me') %>
    <%- include('components/technologies') %>
    <!-- <%- include('components/cursus') %> -->
    <%- include('components/projects') %>
    <%- include('components/articles') %>
    <%- include('components/quotes') %>

    <%- include('helpers/footer') %>
</body>
</html>